

body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom right,#083611, #142d9c, #4d9a5d);
    background-color: #0c393f;
    
}
#navbar {
    position: fixed;
    width: 100vw
}
a {
    text-decoration: none;
    opacity: 1;
}

.button{
    color: rgb(27, 76, 27); background-color: rgba(240, 248, 255, 0.5); padding: 20px;border-radius: 10px;
}
.title{
    color:#3eb353;
}
@supports(-webkit-background-clip: text){
    .title {
        background: linear-gradient(to right, rgb(50, 253, 240), rgb(58, 58, 239));
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
          background-clip: text;
    }
}
@media (min-width: 768px) {
    .button:hover{
        background-color: rgba(240, 248, 255, 0.9);
        color: #3eb353;
        transition: all 0.5s;
        border-radius: 25px;
        

    }
    .fixed{
        background-attachment: fixed;
    }
}
#messages {
    width: 70vw;
    height: 120vh;
    overflow: hidden;
    padding: 50px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    transition: transform 1s ease-in-out;
}


.message {
    animation: slideIn 1.5s ease-in forwards;
    transition:   opacity 1s ease-out; 
    overflow-wrap: break-word;
    padding: 10px;
    max-width: 100%;
    max-height: 0;
    overflow: hidden;
}
@keyframes slideIn {
    0% { transform: translateX(-10%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; max-height: 800px; }
}

section {
    color: rgb(193, 216, 212);
    display:grid;
    place-items: center;
    min-height: 100vh;
    text-align: center;
    margin: 50px;
    align-content: center;
    
}
.align-right {
    justify-self: end;
}
.align-left {
    justify-self: start;
}
h1{
    font-size: 50px;
}


.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-30%);
    transition: all 1.3s ;
}
.hidden_long{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-25%);
    transition: all 2s ;
}
.right {
    opacity: 0;
    filter: blur(10px);
    /* transform: translateX(25%); */
    transition: all 1.3s ;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.3;
}
@media(prefers-reduce-motion){
    .hidden {
        transition: none;
    }
}

